@if(flashMessage('mensaje'))                            
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
			&times;
        </button>
        {{ flashMessage('mensaje') }}
    </div>  
@endif